.container {
    display: flex;
    max-width: 605px;
    max-height: 600px;

}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 600px;

}

.col {
    flex: 1;
    border: 2px solid black;
    text-align: center;
    line-height: 150px;
}

.row#a0 .col {
    border-left: none;
}

.col#b0 {
    border-top: none;
}

.col#b2 {
    border-bottom: none;
}

.row#a2 .col {
    border-right: none;
}